<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    1. The website MUST allow the user to dynamically add content in your web application utilizing a JavaScript method, buttons and text fields
    
    Located in the "Click here to name your bunny" button on the home page. The button allows the user to set the bunny's name and will subsequently display "Let's dress (whatever user enters)" instead of the title of the app.



    2. The website MUST allow the user to dynamically remove content from your web application utilizing a JavaScript method, buttons and text fields.

    The "x" on the trivia box on the homepage makes the ribbon and its contents disappear. 



    3. The website MUST allow the user to dynamically show all clothing items that meet certain criteria (for example, are of a certain color or are a certain type, like jeans or tshirts) utilizing a JavaScript method, buttons and text fields.

    Located on the Tops Index page in a button that says "sort"



    4. The website MUST allow the user to dynamically enhance size and color of text on mouseover utilizing a JavaScript method, buttons and text fields.
    
    Footer changes color and size of text on mouseover. Then, changes back. 



    5. The website MUST allow the user to navigate to another site utilizing a JavaScript method, buttons and text fields.

    The link to go to a different site is the person reading icon in the navigation bar. Click the icon to navigate to the other site. 




    6. The website MUST dynamically replace the copyright and date text to "created by "Insert Your Name".

    The footer text changes on hover. 




    7. The website MUST implement an array utilizing JavaScript.

    On the home page, I used an array to check whether user input in the trivia game was correct or not. 



    
    8. The website must include your homework example JavaScript.

    Hovering over the "Trivia" header on the homepage activates the animation. The text color changes are the DOM event. 


</body>
</html>