@{
    ViewBag.Title = "Home";
}

<div class="container main-page">
<div class="row home">
<div class="col-md-6">
        <img id="Lop" src="~/Content/Images/bunny.png" />
    </div>
    <div class="col-md-4">
        @*<div class="jumbotron">*@
            <ul>
                <li><img id="Hegel" src="~/Content/Images/hegel1.jpg"></li>
                <li><img id="Olivia" src="~/Content/Images/olivia1.jpg"></li>
                <li><img id="Lily" src="~/Content/Images/lily1.jpg"></li>
            </ul>

        @*</div>*@
    </div>
</div>
<h1>Bunderhosen</h1>
    <div class="col-md-4">
        <div class="thumbnail home">
            <div class="caption">
                <h2>Closet.</h2>
                <p>Browse the closet by type of clothing.</p>
                <p><a class="btn btn-default" href="/Tops/Index">View Tops  <i class="fas fa-angle-double-right"></i></a></p>
                <p><a class="btn btn-default" href="/Bottoms/Index">View Bottoms  <i class="fas fa-angle-double-right"></i></a></p>
                <p><a class="btn btn-default" href="/Shoes/Index">View Shoes  <i class="fas fa-angle-double-right"></i></a></p>
                <p><a class="btn btn-default" href="/Accessories/Index">View Accessories  <i class="fas fa-angle-double-right"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail home">
            <div class="caption">
                <h2>Create Outfits.</h2>
                <p>Put together an outfit by choosing a top, a bottom, an accessory, and shoes.</p>
                <p><a class="btn btn-default" href="/Outfits/Create">Create an Outfit  <i class="fas fa-angle-double-right"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail home">
            <div class="caption">
                <h2>Saved Outfits.</h2>
                <p>Browse saved outfits.</p>
                <p><a class="btn btn-default" href="/Outfits/Index">View Outfits  <i class="fas fa-angle-double-right"></i></a></p>
            </div>
        </div>
    </div>
</div></div>
